---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin

/* twilight syntax highlighting */
$base00: #1e1e1e !important;
$base01: #323537 !important;
$base02: #464b50 !important;
$base03: #5f5a60 !important;
$base04: #838184 !important;
$base05: #a7a7a7 !important;
$base06: #c3c3c3 !important;
$base07: #ffffff !important;
$base08: #cf6a4c !important;
$base09: #cda869 !important;
$base0A: #f9ee98 !important;
$base0B: #8f9d6a !important;
$base0C: #afc4db !important;
$base0D: #7587a6 !important;
$base0E: #9b859d !important;
$base0F: #9b703f !important;

@import "minimal-mistakes"; // main partials

